@import "./common/mixin.scss";

@include b(transfer) {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  column-gap: 20px;
  border: 1px solid black;

  @include e(buttons) {
    display: flex;
    column-gap: 10px;
  }
}

@include b(transfer-panel) {
  background-color: pink;
  width: 260px;
  height: 100%;
  border: 1px solid #ebeef5;
  padding: 10px;
  border-radius: 6px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  @include e(header) {
    height: 30px;
    background-color: #f5f7fa;
  }

  @include e(body) {
    height: 0;
    flex: 1;
    overflow-y: auto;
  }
}
